<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/tailwind.css">
  <link rel="stylesheet" href="/fonts/fontawesome-free-6.7.2-web/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <title>{{title}}</title>
</head>
<body>
    <div class="flex flex-col lg:flex-row min-h-screen" id="form-1">
        <div class="absolute top-4 right-6 z-50">
            <i class="fa-solid fa-xmark text-2xl text-gray-600 hover:text-black cursor-pointer" id="closeRegisterBtn"></i>
        </div>
        <div class="hidden lg:block">
            <img src="/img/sign_in_img.png" alt="" class="w-[768px] h-full object-cover">
        </div>

        <!-- Form đăng ký -->
        <div class="flex-1 flex items-center justify-center px-4 py-12">
            <div class="w-full max-w-[575px] space-y-8">
                <div class="flex space-x-6 items-center">
                    <div>
                        <h3 class="text-2xl font-bold text-[#2E3856]">
                            <a href="/register">Đăng ký</a>
                        </h3>
                        <img src="/img/underline_img.svg" alt="">
                    </div>
                    <div>
                        <h3 class="text-2xl font-bold text-[#586380]">
                            <a href="/logIn">Đăng nhập</a>
                        </h3>
                    </div>
                </div>

                <!-- FORM -->
                <form action="/register/store" method="post" class="space-y-6">
                <!-- Email -->
                    <div class="space-y-2">
                        <label for="email" class="text-xs font-medium text-[#586380]">Email</label>
                        <input type="email" id="email" name="email" autocomplete="email" placeholder="ten@gmail.com" class="w-full h-[50px] bg-[#F6F7FB] rounded-md text-[#939BB4] px-3 outline-purple-800 font-medium">
                        <span class="form-message text-red-600 text-xs"></span>
                    </div>

                <!-- Tên người dùng -->
                    <div class="space-y-2">
                        <label for="username" class="text-xs font-medium text-[#586380]">Tên người dùng</label>
                        <input type="text" id="username" name="username" autocomplete="username" placeholder="ynnie123" class="w-full h-[50px] bg-[#F6F7FB] rounded-md text-[#939BB4] px-3 outline-purple-800 font-medium">
                        <span class="form-message text-red-600 text-xs"></span>
                    </div>

                <!-- Mật khẩu -->
                    <div class="space-y-2">
                        <label for="password" class="text-xs font-medium text-[#586380]">Mật khẩu</label>
                        <input type="password" id="password" name="password" autocomplete="current-password" placeholder="......" class="w-full h-[50px] bg-[#F6F7FB] rounded-md text-[#939BB4] px-3 outline-purple-800 font-medium">
                        <span class="form-message text-red-600 text-xs"></span>
                    </div>

                    <button type="submit" class="w-full py-4 bg-purple-400 hover:bg-purple-800 rounded-3xl text-xl font-semibold text-white transition duration-200">
                        Đăng ký
                    </button>
                    <button class="w-full py-4 border-2 border-inherit rounded-3xl text-xl hover:bg-[#cecece] transition duration-200">
                        <a href="/logIn">Bạn đã có tài khoản? Đăng nhập</a>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/validation.js"></script>
    <script>

        validation({
            form:'#form-1',
            errorSelector: '.form-message',
            rules: [
                validation.isRequired('#username', 'Vui lòng nhập username'),
                validation.isRequired('#email'),
                validation.isEmail('#email'),
                validation.isRequired('#password'),
                validation.isPassWord('#password', 'Mật khẩu phải bao gồm chữ thường, chữ hoa, kí tự đặc biệt và độ dài từ 6-16 kí tự'),
            ],
            onsubmit: function(data) {
                document.querySelector('#form-1 form').submit();
            }
        })

    </script>
    <script src="/js/register.js"></script>
</body>
</html>
